In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('E:/KULIAH/SEMESTER 6/data mining/naive bayes/shooping_demo.xls')

In [3]:
data.head()

       Day Discount Free Delivery Purchase
0  Weekday      Yes           Yes      Yes
1  Weekday      Yes           Yes      Yes
2  Weekday       No            No       No
3  Holiday      Yes           Yes      Yes
4  Weekday      Yes           Yes      Yes

In [4]:
data.shape

(30, 4)

In [5]:
data['Purchase'].value_counts()

Yes    26
No      4
Name: Purchase, dtype: int64

In [6]:
PYes = 26/30
PNo = 4/30

In [7]:
print(PYes)

0.8666666666666667

In [8]:
print(PNo)

0.13333333333333333

In [9]:
pd.crosstab(data['Day'], data['Purchase'])

Purchase  No  Yes
Day
Holiday    2    8
Weekday    2   10
Weekend    0    8

In [ ]:
PHolidayNo = 2/4
PWeekdayNo = 2/4
PWeekendNo = 0/4

PHolidayYes = 8/26
PWeekdayYes = 10/26
PWeekendYes = 8/26